/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Style the header and set up the grid layout */
header {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    height: 120px;

    display: flex;
    align-items: center;
}

/* Style the contents of the header */
header h1 {
    color: white;
    font-size:xx-large;
    font-weight: 600;
    font-family: Proxima Nova, Arial, Helvetica, sans-serif;

    padding: 30px;
}

body {
    background-color: rgb(239, 237, 237);
}

#introduction_section {
    height: 400px;

    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 30px;                     
    padding: 30px;
}

#introduction_section div {
    background-color: #262626;
    padding: 30px;


}